.Button {
  border-radius: 50%;
  background-color: rgb(255, 133, 28);
  color: #fff;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: none;
  font-size: 40px;
  position: fixed;
  bottom: 15px;
  right: 30px;
  padding-bottom: 10px;
  box-shadow: 0 8px 20px 0 rgba(240,126,42,.35);
}

.Button:hover,
.Button:focus {
  background-color: rgb(0, 216, 255);
  
}
/* .createButton {
    position: fixed;
    bottom: 20px;
    right: 10%;
  
    width: 50px;
    height: 50px;
    padding: 5px 0;
  
    font-family: 'HelveticaNeueCyrLight', sans-serif;
    font-size: 30px;
  
    border: none;
    border-radius: 50%;
  
    color: #fff;
    background-color: var(--family-color);
  }
  
  .active__button {
    background-color: var(--family-color);
  }
  
  .passive__button {
    background-color: var(--easy-color);
  }
  
  .createButton:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  }
  
  .createButton:active {
    box-shadow: inset 2px 2px 2px 2px hsla(0, 0%, 0%, 0.2);
  }


  @media (min-width: 768px) {
    .createButton {
      right: 10%px;
    }
  } */