.header {
    background-color: rgb(0, 54, 91);
    box-shadow: 0px 2px 2px 0px rgba(0, 54, 91, 0.1);
    height: 60px;
}

.headerContainer {
    width: 280px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.iconsWrap {
    display: flex;
    padding-top: 18px;
    width: 62px;
    justify-content: space-between;
    margin-right: 8%;
}

.logo {
    background-image: url(../../assets/images/logo/favicon-dark.svg);
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-left: 8%;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(51, 77, 110);
    margin-top: 18px;
    margin-left: 138px;
}

.name {
    font-size: 12px;
    font-family: 'HelveticaNeueCyr';
    color: rgb(255, 255, 255);
    line-height: 0.917;
    text-align: center;
    display: inline-block;
}

.userText {
    font-size: 0px;
}

.userText::first-letter {
    text-transform: uppercase;
}

.trophy {
    position: relative;
    background-image: url(../../assets/images/icons/trophy/trophy.png);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(0, 216, 255);
    box-shadow: 0px 6px 13px 0px rgba(0, 216, 255, 0.43);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.trophy:hover  p {
    display: block;

}

.gotChallenge{
    display: none;
    position: absolute;
    width: 170px;
    font-family: HelveticaNeueCyrLight,sans-serif;
    font-size: 10px;
    color: #fff;
    top: 25px;
    left: -65px;
}


.trophyDisabled {
    composes: trophy;
    box-shadow: none;
    background-color: rgb(62, 78, 108);
    background-image: url(../../assets/images/icons/trophy/disTrophy.png);
}

.exit {
    position: relative;
    width: 22px;
    height: 22px;
    background-image: url(../../assets/images/icons/logout/logout.svg);
    transform: rotate(180deg);
    border: none;
    background-color: rgb(0, 54, 91);
}

 .exit:hover p {
    display: block;
}

.exit:hover,
.exit:focus  {
        background-image: url(../../assets/images/icons/logout/logoutHover.svg);
    }

.logOut {
    display: none;
    position: absolute;
    width: 170px;
    font-family: HelveticaNeueCyrLight,sans-serif;
    font-size: 10px;
    color: #fff;
    top: 32px;
    transform: rotate(180deg);
    top: -14px;
    left: -70px;
}

@media (min-width: 768px) {
    .container {
        width: 85%;
    }

    .header {
        height: 80px;
    }

    .logo {
        padding-top: 34px;
        width: 80px;
        background-image: url(../../assets/images/logo/logo-dark.svg);
        background-size: 90px 80px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .user {
        margin: 0;
        margin-top: 24px;
        width: 35px;
        height: 35px;
    }

    .name {
        font-size: 18px;
        /* padding-left: 12px;
        padding-top: 10px; */
    }

    .userText {
        font-size: 17px;
        font-family: 'HelveticaNeueCyr';
        color: rgb(117, 139, 167);
        line-height: 0.647;
        margin-top: 36px;
        text-align: center;
        margin-left: 18px;
    }

    .userWrap {
        display: flex;
    }

    .iconsWrap {
        padding-top: 24px;
        width: 96px;
    }

    .trophy,
    .exit {
        width: 35px;
        height: 35px;
    }

    .gotChallenge {
        font-size: 12px;
        top: 36px;
        left: -65px;
    }

    .logOut {
        font-size: 12px;
        top: -14px;
        left: -65px;
    }
}
/* .header {
    background-color: rgb(0, 54, 91);
    box-shadow: 0px 2px 2px 0px rgba(0, 54, 91, 0.1);
    height: 60px;
}

.headerContainer {
    width: 280px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.iconsWrap {
    display: flex;
    padding-top: 18px;
    width: 62px;
    justify-content: space-between;
    margin-right: 8%;
}


.logo {
    background-image: url(../../assets/images/logo/favicon-dark.svg);
    width: 22px;
    height: 22px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-left: 8%;
}

.logo {
    -webkit-animation-name: logo;
    animation-name: logo;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes logo {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    }
    @keyframes logo {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    } 

.user {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(51, 77, 110);
    margin-top: 18px;
    margin-left: 138px;
}

.name {
    font-size: 12px;
    font-family: 'HelveticaNeueCyr';
    color: rgb(255, 255, 255);
    line-height: 0.917;
    text-align: center;
    padding-top: 6px;
    display: inline-block;
    padding-left: 8px;
}

.userText {
    font-size: 0px;
}

.userText::first-letter {
    text-transform: uppercase;
}

.trophy {
    background-image: url(../../assets/images/icons/trophy/trophy.png);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(0, 216, 255);
    box-shadow: 0px 6px 13px 0px rgba(0, 216, 255, 0.43);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.trophyDisabled {
    composes: trophy;
    box-shadow: none;
    background-color: rgb(62, 78, 108);
    background-image: url(../../assets/images/icons/trophy/disTrophy.png);
}

.trophyDisabled {
    composes: trophy;
    box-shadow: none;
    background-color: rgb(62, 78, 108);
    background-image: url(../../assets/images/icons/trophy/disTrophy.png);
}

.exit {
    width: 22px;
    height: 22px;
    background-image: url(../../assets/images/icons/logout/logout.svg);
    transform: rotate(180deg);
    border: none;
    background-color: rgb(0, 54, 91);
}

.exit:hover,
.exit:focus {
    background-image: url(../../assets/images/icons/logout/logoutHover.svg);
}

@media (min-width: 768px) {
    .container {
        width: 85%;
    }

    .header {
        height: 80px;
    }

    .logo {
        padding-top: 34px;
        width: 80px;
        background-image: url(../../assets/images/logo/logo-dark.svg);
        background-size: 90px 80px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .user {
        margin: 0;
        margin-top: 24px;
        width: 35px;
        height: 35px;
    }

    .name {
        font-size: 18px;
        padding-left: 12px;
        padding-top: 10px;
    }

    .userText {
        font-size: 17px;
        font-family: 'HelveticaNeueCyr';
        color: rgb(117, 139, 167);
        line-height: 0.647;
        margin-top: 36px;
        text-align: center;
        margin-left: 18px;
    }

    .userWrap {
        display: flex;
    }

    .iconsWrap {
        padding-top: 24px;
        width: 96px;
    }

    .trophy,
    .exit {
        width: 35px;
        height: 35px;
    }
} */